<h2 id="title">Posts</h2>

{{#each posts as |post|}}
  {{#link-to 'posts' post.id}}{{post.title}}{{/link-to}}<br>
{{/each}}
<br>

<h2 id="title">Users</h2>

{{#each users as |user|}}
  {{#link-to 'users' user.id}}{{user.firstName}}link{{/link-to}}<br>
{{/each}}
<br>

{{outlet}}